<%- include('../header', {title: "Votre compte", style: "user/account"}) %>

<h3>Username</h3>

<div id="profil">
    <div id="photo">

        <img src="https://zupimages.net/up/22/04/szpg.png">

        <div>
            <h2>Nom :</h2>
            <h2>Prénom :</h2> 
            <h2>Diplôme<h2>
            <h2>Âge</h2>
        </div>

    </div>

    <h2>Adresse Email :</h2>
    <h2>Téléphone :</h2>

    <h2>Présentation :</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt congue ligula in rutrum. Morbi nec lacus condimentum, hendrerit mi eu, feugiat.</p>

</div>

<%- include('../footer') %>
