<%- include('../header', {title: "Votre compte", style: "user/account"}) %>

<div id="profil">

    <div>
        <p>Informations</p>
            <ul>
                <li>Profil</li>
                <li>Adresse</li>
                <li>Calendrier</li>
            </ul>
    
        <p>Tutorats inscrits</p>
    
        <p>Avis postés</p>
        <p><a href="/disconnect"><li>Se déconnecter</li></a></p>
    
    </div>

    <div id="photo">

        <img src="/static/images/profil.png">

        <div>
            <h2>Nom :</h2>
            <h2>Prénom :</h2> 
            <h2>Diplôme<h2>
            <h2>Âge</h2>
        </div>

        <div id="infos">
            <h2>Adresse Email : user.name@gmail.com</h2>
    
            <h2>Téléphone : 1-800-676-2775</h2>
        
            <h2>Présentation :</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt congue ligula in rutrum. Morbi nec lacus condimentum, hendrerit mi eu, feugiat.</p>
        
            <ul id="modifier">
                <li>Modifier Profil</li>
            </ul>
    
        </div>

    </div>

</div>

<%- include('../footer') %>
