<%- include('../../header', {title: "Page d'accueil", style: "index", session}) %>

<h1>Suppression du tutorat</h1>

<p>Êtes-vous sur de vouloir supprimer le tutorat pour toujours ? (Très long !)</p>

<h2>Le tutorat que vous allez supprimer:</h2>

<%- include('../../footer', {script: "index"}) %>