<!doctype html>
<html>
    <head>
        <title><%=title%></title>
        <meta charset="utf8" />
        <link rel="stylesheet" href="/static/styles/main.css" />
        <link rel="stylesheet" href="/static/styles/<%=style%>.css" />
    </head>
    <body>
        <nav>
            <ul>
                <a href="/"><li>Accueil</li></a>
                <a href="/search"><li>Rechercher</li></a>
                <% if(typeof session !== 'undefined') { %>
                <a href="/user/tutorat/list"><li>Vos Tutorats</li></a>
                <a href="/user/reservations"><li>Vos Réservations</li></a>
                <div class="right" style="grid-template-columns: 1fr;">
                    <a href="/user"><li class="button">Compte</li></a>
                </div>
                <% } else { %>
                <div class="right" style="grid-template-columns: 1fr 1fr;">
                    <a onclick="displayLogin();"><li class="button">Se connecter</li></a>
                    <a href="/signup"><li class="button">S'inscrire</li></a>
                </div>
                <% } %>
                
            </ul>
        </nav>
        <div id="fullscreen">
            <div id="fullscreen-close">X</div>
            <div id="fullscreen-content">
                <iframe id="fullscreen-iframe" src=""></iframe>
            </div>
        </div>