<!doctype html>
<html>
  <head>
    <title><%=title%></title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="/static/styles/main.css" />
  </head>
  <body>
    <nav>
      <ul id="list">
          <li>Accueil</li>
          <li>Rechercher</li>
          <li>Vos Tutorats</li>
          <li>Compte</li>
      </ul>
  </nav>