<%- include('header', {title: "Page d'accueil", style: "index"}) %>

<header>
    <div id="baseline">
        <h1>Portail-Tutorat.com</h1>
        <h2>Inscrivez vous à des Tutorat sur ce site</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh vitae erat efficitur faucibus. Duis tincidunt, ex in mattis viverra.</p>
    
        <ul id="list2">
            <a href="/signin"><li>Connexion</li></a>
            <a href="/signup"><li>Inscription</li></a>
        </ul>
    </div>
    
    
</header>

<% if(message) { %>
    <div id="message"><%=message%></div>
<% } %>


<div id="grid">

    <div>
        <h2>Présentation de nos services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum mauris ut diam vulputate, nec scelerisque magna maximus. Suspendisse sit amet ex vestibulum, semper nunc quis, consequat arcu. Pellentesque feugiat molestie enim a aliquam.
        </p>
    </div>

    <img class="test" src="https://zupimages.net/up/22/03/f0n2.png">
</div>

<%- include('footer') %>
