<%- include('header', {title: "Page d'inscription", style: "signup"}) %>

<h1>Inscription</h1>

<%=error%>
<div id="formulaire">
    <form method="post">
        <table>
            <tbody>
                <tr>
                    <td><label for="email"><h3 style="display: inline;">Adresse mail :</h3></label></td>
                    <td><input type="email" name="email" id="email" placeholder="Email"></td></tr>
                    <tr><td><label for="confirmEmail"><h3 style="display: inline;">Confirmez votre adresse mail :</h3></label></td>
                    <td><input type="email" name="confirmEmail" id="confirmEmail"></td></tr>
                    <tr><td><label for="firstName"><h3 style="display: inline;">Votre Nom / Prénom :</h3></label></td>
                    <td><input type="text" name="lastName" id="lastName" placeholder="Nom"></td>
                    <td><input type="text" name="firstName" id="firstName" placeholder="Prénom"></td></tr>
                    <tr><td><label for="password"><h3 style="display: inline;">Mot de passe :</h3></label></td>
                    <td><input type="password" name="password" id="password" placeholder="Mot de Passe"></td></tr>
                    <tr><td><label for="confirmPassword"><h3 style="display: inline;">Confirmez votre mot de passe :</h3></label></td>
                    <td><input type="password" name="confirmPassword" id="confirmPassword"></td></tr>
                </tr>
            </tbody>
        </table>
        <button type="submit">Confirmer</button>
    </form>
</div>


<%- include('footer') %>
