<%- include('header', {title: "Page de connexion"}) %>
<h1>Page de connexion</h1>
<p>Contenu de la page</p>
<%=error%>
</body>
    <% if(session === undefined ) { %>
        <form method="post" action="?">
            <label for="email">Votre adresse email:</label><br />
            <input type="text" name="email" id="email"><br />
            <label for="password">Votre mot de passe:</label><br />
            <input type="password" name="password" id="password"><br />
            <button type="submit">Se connecter</button>
        </form>
    <% } else { %>
        Vous êtes déjà connecté en tant que <%=session.nickname %>
        <p>
            <a href="/disconnect"><button>Déconnexion</button></a>
        </p>
    <% } %>



<%- include('footer') %>
