h1,h2,h3 {
    text-align: center;
}

.tutorat {
    background-color: #D7D7D7;
    display: grid;
    grid-template-columns: 400px 3fr 2fr;
    gap: 10%;
    margin-bottom: 2%;
}

ul#nouveau_tutorat {
    list-style: none;
    text-align: center;
    background-color: #47525E;
    border-radius: 5px;
    padding: 8px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3%;
}

#nouveau_tutorat a {
    color: white;
    text-decoration: none;
}

.description {
    text-align: center;
    color: #1C1C1C;
}


.modif_tutorat {
    align-self: center;
}

.modif_tutorat a {
    color: white;
    text-decoration: none;
}

.modif_tutorat li {
    list-style: none;
    text-align: center;
    background-color: #8c8282;
    border-radius: 5px;
    padding: 8px;
    width: 12em;
    margin: 2px;
}

li#modifier {
    text-align: center;
    list-style: none;
    padding: 3%;
    width: 120px;
    border: 2px solid #47525E;
    border-radius: 5px;
}


.tutorat_enregistre {
    display: grid;
    grid-template-columns: 25vw 45vw;
    border-top: 1px solid #8492A6;
    padding-bottom: 2%;
}

ul.formu {
    list-style: none;
    text-align: center;
    padding-top: 2%;
}

select {
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 185px;
    height: 38px;
}

.tutorat_exemple {
    padding-top: 7%;
}