h1,h2,h3 {
    text-align: center;
}

#tutorat {
    background-color: #D7D7D7;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    gap: 10%;
    margin-bottom: 2%;
}

ul#nouveau_tutorat {
    list-style: none;
    text-align: center;
    background-color: #47525E;
    border-radius: 5px;
    padding: 8px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3%;
}

.description {
    text-align: center;
    color: #1C1C1C;
}


.jesaispas {
    align-self: center;
}

li#modifier {
    text-align: center;
    list-style: none;
    padding: 3%;
    width: 120px;
    border: 2px solid #47525E;
    border-radius: 5px;
}


#tutorat_enregistre {
    display: grid;
    grid-template-columns: 25vw 45vw;
    border-top: 1px solid #8492A6;
    padding-bottom: 2%;
}

ul#formu {
    list-style: none;
    text-align: center;
    padding-top: 2%;
}

select {
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 185px;
    height: 38px;
}

#tutorat_exemple {
    padding-top: 7%;
}