h1,h2,h3 {
    text-align: center;
}

.tutorat_infos {
    padding-top: 6%;
}

.tutorat_infos a {
    color: white;
    text-decoration: none;
}

.description {
    text-align: center;
    color: #1C1C1C;
}


.modif_tutorat {
    align-self: center;
}

.modif_tutorat a {
    color: white;
    text-decoration: none;
}

.modif_tutorat li {
    list-style: none;
    text-align: center;
    background-color: #8c8282;
    border-radius: 5px;
    padding: 8px;
    width: 12em;
    margin: 2px;
}

li#modifier {
    text-align: center;
    list-style: none;
    padding: 3%;
    width: 120px;
    border: 2px solid #47525E;
    border-radius: 5px;
}


.tutorat_enregistre {
    display: grid;
    grid-template-columns: 25vw 47vw;
    border-top: 1px solid #8492A6;
}

ul.formu {
    list-style: none;
    text-align: center;
}

#nouveau_tutorat li {
    list-style: none;
    background-color: #47525E;
    border-radius: 5px;
    padding: 8px;
    width: 8.5em;
    margin: 2px;
}

#nouveau_tutorat a {
    color: white;
    text-decoration: none;
}

select {
    border: 1px solid #8492A6;
    border-radius: 5px;
    width: 185px;
    height: 38px;
}

.listElement {
    background-color: #ededed;
}