#detail {
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vw;
    border-radius: 5px;
    background-color: #ededed;
}

h1 {
    padding-top: 1vw;
    text-decoration: underline;
}

#button a {
    text-decoration: none;
}

#button li {
    list-style: none;
    display: inline-block;
    background-color: #47525E;
    border-radius: 5px;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

#button {
    padding-left: 0;
}

#reservations .listElement {
    grid-template-columns: 1fr 2fr;
}

#reservations #button li {
    display: block;
    text-align: center;
    width:50%;
    margin-bottom: 5px;
}