.profil {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 4%;
    border-top: 1px solid #8492A6;
}

.side_bar p {
    padding-left: 10px;
    padding-top: 10px;
    height: 60px;
    border-bottom: 1px solid #D3DCE6;
    margin-bottom: 0;
}

.side_bar ul {
    list-style: none;
}

.photo {
    display: grid;
    grid-template-columns: 350px 1fr;
    border-left: 1px solid #8492A6;
    padding-top: 5%;
    padding-left: 4%;
    text-align: justify;
}

.coordonnees {
    width: 450px;
}

ul#modifier {
    list-style: none;
    text-align: center;
}

ul#modifier li{
    background-color: #47525E;
    border-radius: 5px;
    padding: 8px;
    width: 150px;
}