h1 {
    text-align: center;
    text-decoration: underline;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.error_message {
    padding-top: 2%;
    text-align: center;
    text-decoration: underline;
}

.listElement {
    padding: 5px;
    grid-template-columns: 2fr 1fr;
    background-color: #ededed;
}

.description {
    padding: 1vw;
    white-space: pre-wrap;
}

.button {
    padding-top: 1.5vw;
}

.button a {
    text-decoration: none;
}

.button li {
    list-style: none;
    display: inline-block;
    background-color: #47525E;
    border-radius: 5px;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}